# Android/Java .gitignore
.gradle/
**/build/
**/bin/
**/gen/
local.properties
captures/
.externalNativeBuild/
.cxx/
*.iml
.idea/
*.apk
*.ap_
*.dex
*.class
proguard/
*.log
.DS_Store
Thumbs.db
*.jks
*.keystore
*.orig
*.rej
bin/
gen/
bin/**
gen/**
bin/classes/
bin/resources.ap_
bin/classes.dex
bin/*.apk
